.responsive-paragraph {
  font-size: 1rem; /* Base size for small screens */
  display:flex;
  flex-direction:column;
}


.form{
    width:100%;
    border-radius:10px;
    box-shadow:2px 1px 1px 3px black
}

.Areaform{
 
display:flex;
justify-content:space-between;
align-items:center;
flex-direction:column;
}
@media (min-width: 768px) {
  .responsive-paragraph {
    font-size: 1.125rem;
  }
  .form{
    width:80%;
  }
  .Areaform{
    flex-direction:row  }
    .h1Areaform{
        margin-left:3rem;
        font-size:2rem
    }
}

@media (min-width: 1024px) {
  .responsive-paragraph {
    font-size: 1.25rem;
  }
 .form{
    width:60%;
 }
}
